# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build files
frontend/build/
frontend/.env

# NestJS build files
backend/dist/
backend/.env

# Docker
docker-compose.override.yml
*.log
*.pid
*.seed

# SQL Server data files
sql_data/
# database/

# Redis data files
dump.rdb
appendonly.aof

# Kafka logs and temporary files
kafka-logs/
zookeeper-logs/

# Elasticsearch data files
elasticsearch/data/

# AWS credentials and temporary files
.aws/
.aws-s3-cache/

# Monitoring tools (Prometheus, Grafana)
configs/prometheus.yml
configs/grafana/

# IDE and editor settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Cursor-specific files and folders
.cursor/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Localization files
*.json

# Cache files
*.cache

# Temporary files
*.tmp
*.temp

# Backup files
*.bak
*.backup

# Configuration files
*.cfg
*.conf

# Configuration files
*.cfg
*.conf

# Ignore all files in the node_modules directory
node_modules/

# Ignore all files in the dist directory
dist/

# Ignore all files in the build directory
build/

# Ignore all files in the .gitignore directory
.gitignore/

# Ignore all files in the .git directory
.git/

# Ignore all files in the .idea directory
.idea/

# Ignore all files in the .vscode directory
.vscode/

# Ignore all files in the .cursor directory
.cursor/

# Ignore files plan
.Plan/

# Ignore all files in the .cursor directory
.cursorignore


#Ignore all files in the docs directory

docs/

# Ignore all files in the database directory
database/
deployment/
